*{
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
  background-color: #333;
  
}

.h1{
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
  margin-bottom: -35px;
  color: white;
}

.Todo-list-container{
  margin: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid black;
  width: 1000px;
  min-height: 450px;
  background-color: rgb(43, 111, 106);
  border-radius: 10px;
  padding: 20px;
}

.todo-form{
  display: flex;
  width: 100%;
  font-size: 20px;
  margin-top: 60px;
  gap: 4px;
}

.todo-form input{
  display: flex;
  justify-content: center;
  width: 500px;
  height: 40px;
  border: 1px #6c86ab;
  padding: 20px;  
  box-shadow: 0px 5px 10px rgba(11, 10, 10, 0.3);
  font-size: 20px;
}

.todo-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #6c86ab;
  width: 130px;
  height: 80px;
  background-color: rgb(163, 164, 192);
  padding: 15px;
  font-weight: bold;
  font-size: medium; 
  margin-left: -5px;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(11, 10, 10, 0.3);
  transition: 0.3s;
  }

.todo-btn:hover {
  background-color: rgb(97, 97, 122);
  color: white;
}

.remove-all-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #6c86ab;
  width: 130px;
  height: 80px;
  background-color: rgb(163, 164, 192);
  padding: 15px;
  font-weight: bold;
  font-size: medium; 
  margin-left: -5px;
  cursor: pointer;
  box-shadow: 0px 5px p1x rgba(11, 10, 10, 0.3);
  transition: 0.3s;
}

.remove-all-btn:hover {
  background-color: rgb(200, 62, 62);
  color: white;
}


.task-div{
  display: flex;
  justify-content: space-between;
  background-color: rgb(206, 223, 238);
  padding: 10px;
  align-items: center;
  margin-top: 20px;
  border-radius: 5px;
  border: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.495);
}

.todo-text{
  font-size: 25px;
}

.icons{
  display: flex;
  gap: 20px;
  font-size: 25px;
  cursor: pointer;
}

.complete{
  text-decoration: line-through;
  opacity: 0.8;
  background-color: rgb(134, 172, 134);
}

.hide{
  display: none;
}

.tick{
  font-size: 28px;
}

.tick:hover{
  color: green;
}

.trash{
  font-size: 25px;
}

.trash:hover{
  color: red;
}
