body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

html{
  font-size: 65.5%;
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}